@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", sans-serif;
  font-size: 16px;
  color: black;
  position: relative;
}

.flex { display: flex; }
.column { flex-direction: column; }

header { background-color: #000; position: sticky; z-index: 3; }

nav .container { justify-content: space-between; align-items: center; }

h1 {
  color: white;
  font-size: 25px;
  font-weight: 400;
}

h2 {
  font-size: 70px;
}

a {cursor: pointer;}

p, a {
  font-size: 23px;
  font-weight: bold;
  max-width: 940px;
}

p.reversed-colors {
  color: white;
  mix-blend-mode: difference;
}

a, a:hover, a:active {
  text-decoration: none;
  transition: 0.3s;
}

a { color: white; }
a:hover { color: #fff500; }
a:active { color: #b16000; }
a.orange { color: #b16000; }
a.orange:hover { color: #794200; }
a.orange:active { color: #ff8c00; }
a.black { color: #000; text-decoration: underline; }
a.black:hover { color: #00D078; }
a.black:active { color: #00ff37; }
a.danger { color: #FF5656; margin-left: 20px; }
a.danger:hover { color: #ff0000; }
a.danger:active { color: #ff006a; }
a.selected { color: #fff500; }

button {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 250px;
  font-size: 27px;
  font-weight: 600;
  transition: 0.3s;
}

button.primary {
  background-color: #FFF500;
  color: #000;
}

button.primary:hover {
  background-color: #000;
  color: #fff;
  border-color: #FFF500;
}

button.primary:active {
  background-color: #000;
  color: #FFF500;
}

button.secondary {
  background-color: #000;
  color: white;
}

button.secondary:hover {
  background-color: #FFF500;
  color: #000;
  border-color: #000;
}

input,
textarea {
  outline: none;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #000;
  border-radius: 5px;
}

input:focus,
textarea:focus {
  border-color: #9a9c21;
}

.container {
  max-width: 2160px;
  margin: 0 auto;
  padding: 20px;
}

.form-container,
.veil {
  position: absolute;
  top: 73px;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  z-index: 2;
  width: 100vw;
  height: calc(100vh - 73px);
  transition: 0.3s;
}

.form-box {
  z-index: 2;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(+50%, -50%);
  backdrop-filter: blur(15px);
  padding: 50px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.form-box input {
  width: 250px;
  max-width: 300px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.inputs-boxes-container {
  justify-content: space-between;
  gap: 20px;
}

.input-box {
  flex-direction: column;
  justify-content: flex-end;
  min-height: 78px;
}

.errors {
  list-style-type:none;
  gap: 15px;
}

.error {
  color: red;
  max-width: 250px;

}

.fa-xmark {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 25px;
  color: #000;
  transition: 0.3s;
  cursor: pointer;
}

.fa-xmark:hover {
  color: rgb(121, 0, 0);
}

.fa-xmark:active {
  color: red;
  transform: scale(0.9);
}

.hide { transform: scale(0); opacity: 0; }
.veil.hide { transform: scale(1); height: 0; }

@keyframes float {
  0%, 50%, 100% { transform: translateY(0); }
  25% { transform: translateY(-40px); }
  75% { transform: translateY(-10px); }
}

@keyframes scale {
  0%, 50% { transform: scale(1); }
  25% { transform: rotate(-10deg) scale(1.4); }
  75% { transform: rotate(20deg) scale(1.8); }
}
